<div class="demo-icons">
    <header>
        <h2>选择你的英雄</h2>
        <!--<p>Built with <a href="https://nucleoapp.com/?ref=1712">nucleoapp.com</a></p>-->
    </header>

    <div class="row">

        <div class="col-md-2 col-xs-12 ml-auto mr-auto text-center">
            <img class="ability" src="http://cdn.dota2.com/apps/dota2/images/heroes/axe_full.png">
            <img src="http://cdn.dota2.com/apps/dota2/images/heroes/axe_full.png">
            <img src="http://cdn.dota2.com/apps/dota2/images/heroes/axe_full.png">
            <img src="http://cdn.dota2.com/apps/dota2/images/heroes/axe_full.png">
            <img src="http://cdn.dota2.com/apps/dota2/images/heroes/axe_full.png">
        </div>

        <div class="col-md-6 col-xs-12">
            <div class="shadow">
                <div class="row">
                    <div class="col-md-2 col-xs-2"><img class="img-no-padding img-responsive ability"
                                                        src="http://cdn.dota2.com/apps/dota2/images/abilities/skeleton_king_vampiric_aura_lg.png"></div>
                    <div class="col-md-2 col-xs-2"><img class="img-no-padding img-responsive"
                                                        src="http://cdn.dota2.com/apps/dota2/images/abilities/skeleton_king_vampiric_aura_lg.png"></div>
                    <div class="col-md-2 col-xs-2"><img class="img-no-padding img-responsive"
                                                        src="http://cdn.dota2.com/apps/dota2/images/abilities/skeleton_king_vampiric_aura_lg.png"></div>
                    <div class="col-md-2 col-xs-2"><img class="img-no-padding img-responsive"
                                                        src="http://cdn.dota2.com/apps/dota2/images/abilities/skeleton_king_vampiric_aura_lg.png"></div>
                    <div class="col-md-2 col-xs-2"><img class="img-no-padding img-responsive"
                                                        src="http://cdn.dota2.com/apps/dota2/images/abilities/skeleton_king_vampiric_aura_lg.png"></div>
                    <div class="col-md-2 col-xs-2"><img class="img-no-padding img-responsive"
                                                        src="http://cdn.dota2.com/apps/dota2/images/abilities/skeleton_king_vampiric_aura_lg.png"></div>
                </div>
            </div>


        </div>

        <div class="col-md-2 col-xs-12 ml-auto mr-auto text-center">
            <img src="http://cdn.dota2.com/apps/dota2/images/heroes/axe_full.png">
            <img src="http://cdn.dota2.com/apps/dota2/images/heroes/axe_full.png">
            <img src="http://cdn.dota2.com/apps/dota2/images/heroes/axe_full.png">
            <img src="http://cdn.dota2.com/apps/dota2/images/heroes/axe_full.png">
            <img src="http://cdn.dota2.com/apps/dota2/images/heroes/axe_full.png">
        </div>

    </div>


</div>

