.shadow{
  -webkit-box-shadow: 0 1px 15px 1px rgba(113, 106, 202, .08);
  -moz-box-shadow: 0 1px 15px 1px rgba(113, 106, 202, .08);
  box-shadow: 0 1px 15px 1px rgba(113, 106, 202, .08);
  //background-color: #ebedf2
  //background: #6dd3d6 ;
}

.follows hr{
  margin: 5px!important;
}
