<div class="wrapper">
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="http://cdn.dota2.com/apps/dota2/images/heroes/axe_vert.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <p>An artist of considerable range, Jane Faker — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music, giving it a warm, intimate feel with a solid groove structure. </p>
                    <br />
                </div>
                <input type="text" class="form-control" placeholder="Default">
            </div>
            <br/>
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <ngb-tabset [justify]="'center'">
                        <ngb-tab title="七天">
                            <ng-template ngbTabContent >
                                <div class="row following" id="follows">
                                    <div class="col-md-12 ml-auto mr-auto">
                                        <ul class="list-unstyled follows">
                                            <li>
                                                <div class="row">
                                                    <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                                        <img src="http://cdn.dota2.com/apps/dota2/images/heroes/axe_full.png" alt="Circle Image" class="">
                                                    </div>
                                                    <div class="col-md-5 col-sm-4 ml-auto">
                                                        <h6>1372002<small> 次</small></h6>
                                                    </div>
                                                    <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                                        <h6>50.0<small> %</small></h6>
                                                    </div>
                                                </div>
                                            </li>
                                            <hr />
                                            <li>
                                                <div class="row">
                                                    <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                                        <img src="http://cdn.dota2.com/apps/dota2/images/heroes/axe_full.png" alt="Circle Image" class="">
                                                    </div>
                                                    <div class="col-md-5 col-sm-4 ml-auto">
                                                        <h6>1372002<small> 次</small></h6>
                                                    </div>
                                                    <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                                        <h6>50.0<small> %</small></h6>
                                                    </div>
                                                </div>
                                            </li>
                                            <hr />
                                            <li>
                                                <div class="row">
                                                    <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                                        <img src="http://cdn.dota2.com/apps/dota2/images/heroes/axe_full.png" alt="Circle Image" class="">
                                                    </div>
                                                    <div class="col-md-5 col-sm-4 ml-auto">
                                                        <h6>1372002<small> 次</small></h6>
                                                    </div>
                                                    <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                                        <h6>50.0<small> %</small></h6>
                                                    </div>
                                                </div>
                                            </li>
                                            <hr />
                                            <li>
                                                <div class="row">
                                                    <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                                        <img src="http://cdn.dota2.com/apps/dota2/images/heroes/axe_full.png" alt="Circle Image" class="">
                                                    </div>
                                                    <div class="col-md-5 col-sm-4 ml-auto">
                                                        <h6>1372002<small> 次</small></h6>
                                                    </div>
                                                    <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                                        <h6>50.0<small> %</small></h6>
                                                    </div>
                                                </div>
                                            </li>
                                            <hr />
                                            <li>
                                                <div class="row">
                                                    <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                                        <img src="http://cdn.dota2.com/apps/dota2/images/heroes/axe_full.png" alt="Circle Image" class="">
                                                    </div>
                                                    <div class="col-md-5 col-sm-4 ml-auto">
                                                        <h6>1372002<small> 次</small></h6>
                                                    </div>
                                                    <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                                        <h6>50.0<small> %</small></h6>
                                                    </div>
                                                </div>
                                            </li>
                                            <hr />
                                            <li>
                                                <div class="row">
                                                    <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                                        <img src="http://cdn.dota2.com/apps/dota2/images/heroes/axe_full.png" alt="Circle Image" class="">
                                                    </div>
                                                    <div class="col-md-5 col-sm-4 ml-auto">
                                                        <h6>1372002<small> 次</small></h6>
                                                    </div>
                                                    <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                                        <h6>50.0<small> %</small></h6>
                                                    </div>
                                                </div>
                                            </li>
                                            <hr />
                                            <li>
                                                <div class="row">
                                                    <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                                        <img src="http://cdn.dota2.com/apps/dota2/images/heroes/axe_full.png" alt="Circle Image" class="">
                                                    </div>
                                                    <div class="col-md-5 col-sm-4 ml-auto">
                                                        <h6>1372002<small> 次</small></h6>
                                                    </div>
                                                    <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                                        <h6>50.0<small> %</small></h6>
                                                    </div>
                                                </div>
                                            </li>
                                            <hr />
                                            <li>
                                                <div class="row">
                                                    <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                                        <img src="http://cdn.dota2.com/apps/dota2/images/heroes/axe_full.png" alt="Circle Image" class="">
                                                    </div>
                                                    <div class="col-md-5 col-sm-4 ml-auto">
                                                        <h6>1372002<small> 次</small></h6>
                                                    </div>
                                                    <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                                        <h6>50.0<small> %</small></h6>
                                                    </div>
                                                </div>
                                            </li>
                                            <hr />
                                            <li>
                                                <div class="row">
                                                    <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                                        <img src="http://cdn.dota2.com/apps/dota2/images/heroes/axe_full.png" alt="Circle Image" class="">
                                                    </div>
                                                    <div class="col-md-5 col-sm-4 ml-auto">
                                                        <h6>1372002<small> 次</small></h6>
                                                    </div>
                                                    <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                                        <h6>50.0<small> %</small></h6>
                                                    </div>
                                                </div>
                                            </li>
                                            <hr />
                                            <li>
                                                <div class="row">
                                                    <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                                        <img src="http://cdn.dota2.com/apps/dota2/images/heroes/axe_full.png" alt="Circle Image" class="">
                                                    </div>
                                                    <div class="col-md-5 col-sm-4 ml-auto">
                                                        <h6>1372002<small> 次</small></h6>
                                                    </div>
                                                    <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                                        <h6>50.0<small> %</small></h6>
                                                    </div>
                                                </div>
                                            </li>
                                            <hr />
                                        </ul>
                                        <button class="btn btn-outline-default btn-round"><i class="fa fa-cog"></i> 查看更多</button>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="一个月">
                            <ng-template ngbTabContent>
                                <h3 class="text-muted">Not following anyone yet :(</h3>
                                <br>
                                <button class="btn btn-warning btn-round">Find artists</button>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="全部">
                            <ng-template ngbTabContent >
                                <div class="row following" id="follows2">
                                    <div class="col-md-6 ml-auto mr-auto">
                                        <ul class="list-unstyled follows">
                                            <li>
                                                <div class="row">
                                                    <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                                        <img src="../assets/img/faces/clem-onojeghuo-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                                    </div>
                                                    <div class="col-md-7 col-sm-4 ml-auto">
                                                        <h6>Flume<br/><small>Musical Producer</small></h6>
                                                    </div>
                                                    <div class="col-md-3 col-sm-2 ml-auto mr-auto">
                                                        <div class="form-check">
                                                            <label class="form-check-label">
                                                                <input class="form-check-input" type="checkbox" value="" checked="">
                                                                <span class="form-check-sign"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <hr />
                                            <li>
                                                <div class="row">
                                                    <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                                        <img src="../assets/img/faces/ayo-ogunseinde-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                                    </div>
                                                    <div class="col-md-7 col-sm-4 ml-auto">
                                                        <h6>Banks<br /><small>Singer</small></h6>
                                                    </div>
                                                    <div class="col-md-3 col-sm-2 ml-auto mr-auto">
                                                        <div class="form-check">
                                                            <label class="form-check-label">
                                                                <input class="form-check-input" type="checkbox" value="" checked="">
                                                                <span class="form-check-sign"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
            <ngx-datatable
                    [rows]="rows"
                    [columns]="columns">
            </ngx-datatable>
        </div>
    </div>
</div>
