<div class="wrapper">
    <div class="main">
        <!--<app-components></app-components>-->
        <div class="section" id="carousel">
            <div class="container">
                <div class="tim-title">
                    <h3>Carousel</h3>
                </div>
                <div class="row">
                    <div class="col-md-12 mr-auto ml-auto">
                        <div class="card page-carousel">
                            <ngb-carousel>
                                <ng-template ngbSlide>
                                    <img src="../assets/img/soroush-karimi.jpg" alt="Random first slide">
                                    <div class="carousel-caption">
                                        <p>Somewhere</p>
                                    </div>
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img src="../assets/img/federico-beccari.jpg" alt="Random second slide">
                                    <div class="carousel-caption">
                                        <p>Somewhere else</p>
                                    </div>
                                </ng-template>
                                <ng-template ngbSlide>
                                    <img src="../assets/img/joshua-stannard.jpg" alt="Random third slide">
                                    <div class="carousel-caption">
                                        <p>Here it is</p>
                                    </div>
                                </ng-template>
                            </ngb-carousel>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 ml-auto mr-auto text-center file">
                        <button class="btn btn-block btn-lg">请上传技能选择页面
                            <input type="file" ng2FileSelect [uploader]="uploader" (change)="selectedFileOnChanged($event)" />
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
