<div class="page-header page-header-xs" data-parallax="true" style="background-image: url('../assets/img/fabio-mangione.jpg');">
    <div class="filter"></div>
</div>
<div class="demo-icons">
    <header>
        <h2>选择你的英雄</h2>
        <!--<p>Built with <a href="https://nucleoapp.com/?ref=1712">nucleoapp.com</a></p>-->
    </header>

    <div class="row">

        <div class="col-md-3">
            <img src="http://cdn.dota2.com/apps/dota2/images/heroes/axe_lg.png">
            <img src="http://cdn.dota2.com/apps/dota2/images/heroes/axe_lg.png">
            <img src="http://cdn.dota2.com/apps/dota2/images/heroes/axe_lg.png">
            <img src="http://cdn.dota2.com/apps/dota2/images/heroes/axe_lg.png">
            <img src="http://cdn.dota2.com/apps/dota2/images/heroes/axe_lg.png">
        </div>

        <div class="col-md-6">
            <div class="row">
                <img src="http://cdn.dota2.com/apps/dota2/images/heroes/axe_lg.png">
                <img src="http://cdn.dota2.com/apps/dota2/images/heroes/axe_lg.png">
                <img src="http://cdn.dota2.com/apps/dota2/images/heroes/axe_lg.png">
                <img src="http://cdn.dota2.com/apps/dota2/images/heroes/axe_lg.png">
                <img src="http://cdn.dota2.com/apps/dota2/images/heroes/axe_lg.png">
                <img src="http://cdn.dota2.com/apps/dota2/images/heroes/axe_lg.png">
            </div>
            <div class="row">

            </div>



            <div class="row">

            </div>
            <div class="row">

            </div>
            <div class="row">

            </div>
            <div class="row">

            </div>
            <div class="row">

            </div>
            <div class="row">

            </div>
        </div>

        <div class="col-md-3">
            <img src="http://cdn.dota2.com/apps/dota2/images/heroes/axe_lg.png">
            <img src="http://cdn.dota2.com/apps/dota2/images/heroes/axe_lg.png">
            <img src="http://cdn.dota2.com/apps/dota2/images/heroes/axe_lg.png">
            <img src="http://cdn.dota2.com/apps/dota2/images/heroes/axe_lg.png">
            <img src="http://cdn.dota2.com/apps/dota2/images/heroes/axe_lg.png">
        </div>

    </div>


</div>

